
<div class="row container">
            
    <table class=tab> 
        <thead>
          <tr>
              <th>Name</th>
              <th>Reg. Number</th>
              <th>Semester</th>
              <th>Section</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="#" class='button' reg-no='<%=students.reg%>'><%=students.name%></a></td>
            <td><%=students.reg%></td>
            <td><%=students.semester%></td>
            <td><%=students.section%></td>
            
            
          </tr>
          <tr>
                      
        </tbody>
      </table>
    </div> 
